body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  font-family: "Overpass", sans-serif;
  background-color: #141519;
}
.container {
  display: flex;
  flex-direction: column;

  width: 380px;
  height: 370px;
  border-radius: 45px;
  padding: 40px;
  margin: 7.5% auto;
  background-color: #212832;
  color: white;
}
.container img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 15px;
  background-color: #37393a;
}
.container h1 {
  color: hsl(0, 6%, 86%);
  margin-top: 30px;
  margin-bottom: 10px;
}

.container p {
  font-size: 15px;
  color: hsl(217, 12%, 63%);
  margin: 0px;
  font-weight: 700;
  line-height: 23px;
}

.list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 10px 0px;
  padding: 20px 0px;
}
.list li {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  padding: 18px;
  color: hsl(217, 12%, 63%);
  background-color: rgb(62, 60, 60);
}

.list li:hover {
  background-color: hsl(210, 3%, 62%);
  color: white;
}
.container button {
  padding: 15px;
  letter-spacing: 3px;
  font-size: 18px;
  border-radius: 30px;
  border: none;
  outline-style: none;
  color: white;
  background-color: hsl(25, 97%, 53%);
}
.container button:hover {
  color: hsl(25, 97%, 53%);
  background-color: white;
  transition: all 0.8s;
}
.context {
  display: none;
  flex-direction: column;
  width: 380px;
  height: 370px;
  border-radius: 45px;
  padding: 40px;
  margin: 7.5% auto;
  background-color: #212832;
  color: white;
  text-align: center;
}
.context img {
  margin: 0% auto;
  width: 200px;
  height: 150px;
}
.context .output {
  padding: 8px 20px 8px 20px;
  margin: 20px auto 0 auto;
  width: fit-content;
  border-radius: 30px;
  background-color: #37393a;
  color: hsl(25, 97%, 53%);
}
.context h1 {
  color: hsl(0, 6%, 86%);
  margin-top: 30px;
  margin-bottom: 10px;
}
.context p {
  font-size: 15px;
  color: hsl(217, 12%, 63%);
  margin: 0px;
  font-weight: 700;
  line-height: 23px;
}
.back {
  background-color: hsl(25, 97%, 53%) !important ;
  color: white !important;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 330px;
    padding: 10px;
    height: 370px;
    border-radius: 30px;
    padding: 20px;
    margin: 20% auto;
    background-color: #212832;
    color: white;
  }
  .container img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 15px;
    background-color: #37393a;
  }
  .container h1 {
    color: hsl(0, 6%, 86%);
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .container p {
    font-size: 15px;
    color: hsl(217, 12%, 63%);
    margin: 0px;
    font-weight: 700;
    line-height: 23px;
  }

  .list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 10px 0px;
    padding: 20px 0px;
  }
  .list li {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    padding: 18px;
    color: hsl(217, 12%, 63%);
    background-color: rgb(62, 60, 60);
  }

  .list li:hover {
    background-color: hsl(210, 3%, 62%);
    color: white;
  }
  .container button {
    padding: 15px;
    letter-spacing: 3px;
    font-size: 18px;
    border-radius: 30px;
    border: none;
    outline-style: none;
    color: white;
    background-color: hsl(25, 97%, 53%);
  }
  .container button:hover {
    color: hsl(25, 97%, 53%);
    background-color: white;
    transition: all 0.8s;
  }
  .context {
    width: 330px;
    padding: 10px;
    height: 370px;
    border-radius: 30px;
    padding: 20px;
    margin: 20% auto;
    background-color: #212832;
    color: white;
    display: none;
    flex-direction: column;

    text-align: center;
  }
  .context img {
    margin: 0% auto;
    width: 200px;
    height: 150px;
  }
  .context .output {
    padding: 8px 20px 8px 20px;
    margin: 20px auto 0 auto;
    width: fit-content;
    border-radius: 30px;
    background-color: #37393a;
    color: hsl(25, 97%, 53%);
  }
  .context h1 {
    color: hsl(0, 6%, 86%);
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .context p {
    font-size: 15px;
    color: hsl(217, 12%, 63%);
    margin: 0px;
    font-weight: 700;
    line-height: 23px;
  }
}
